@charset "UTF-8";
/*
0-350px: small phone
350-600px : phone
600-900px: tablet portarit
900-1070px: mini desktop
1070-1200px: tablet landscape
1200-1520px: small-desktop
[1200-1800px]: main style 
1800px + : big desktop

$breakpoint argument choices
-phone-small
-phone
-tab-port
-mini-desktop
-tab-land
-small-desktop
-big-desktop

1em =16px
*/
@keyframes border-flicker {
  0% {
    filter: drop-shadow(0 0 0.1rem #5ac5d9);
  }
  2% {
    filter: drop-shadow(0 0 1rem #5ac5d9);
  }
  4% {
    filter: drop-shadow(0 0 0.1rem #5ac5d9);
  }
  8% {
    filter: drop-shadow(0 0 1rem #5ac5d9);
  }
  70% {
    filter: drop-shadow(0 0 0.35rem #5ac5d9);
  }
  100% {
    filter: drop-shadow(0 0 1rem #5ac5d9);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.2);
  }
  40% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(15%);
  }
  90% {
    transform: translateY(-0.5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(20%);
  }
  90% {
    transform: translateX(-0.5rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(-20%);
  }
  90% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* line 2, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/base/_base.scss */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /* set the box size in all elements inherit */
  box-sizing: inherit;
  direction: rtl;
  overflow-x: hidden;
  cursor: default;
}

/* line 14, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/base/_base.scss */
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

/* line 20, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/base/_base.scss */
html::-webkit-scrollbar {
  display: none;
}

@media only screen and (min-width: 112.5em) {
  /* line 14, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/base/_base.scss */
  html {
    font-size: 75%;
  }
}

@media only screen and (max-width: 75em) {
  /* line 14, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/base/_base.scss */
  html {
    font-size: 56.25%;
  }
}

@media only screen and (max-width: 58.75em) {
  /* line 14, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/base/_base.scss */
  html {
    font-size: 50%;
  }
}

/* line 42, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/base/_base.scss */
body {
  /* set the box size in all elements to border-box thanks to *{} */
  box-sizing: border-box;
}

/* line 51, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/base/_base.scss */
::selection {
  background-color: #34bbf7;
  color: #ffffff;
}

@font-face {
  font-family: 'adoveFnt22';
  src: url("/fonts/ploni-regular-aaa.otf") format("OpenType");
}

@font-face {
  font-family: 'adoveFnt22-bold';
  src: url("/fonts/ploni-bold-aaa.otf") format("OpenType");
}

@font-face {
  font-family: 'adoveFnt22-ultrabold';
  src: url("/fonts/ploni-ultrabold-aaa.otf") format("OpenType");
}

/* line 14, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/base/_typogrophy.scss */
body {
  font-family: 'adoveFnt22';
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
}

/* line 21, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/base/_typogrophy.scss */
.blue-text {
  color: #67d2c4;
}

/* line 24, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/base/_typogrophy.scss */
.orange-text {
  color: #66d2c4;
}

/* line 1, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/base/_utilities.scss */
.u-center-text {
  text-align: center !important;
}

/* line 5, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/base/_utilities.scss */
.u-margin-botton-small {
  margin-bottom: 2rem !important;
}

/* line 9, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/base/_utilities.scss */
.u-margin-botton-medium {
  margin-bottom: 4rem !important;
}

@media only screen and (max-width: 58.75em) {
  /* line 9, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/base/_utilities.scss */
  .u-margin-botton-medium {
    margin-bottom: 1.5rem !important;
  }
}

/* line 17, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/base/_utilities.scss */
.u-margin-botton-big {
  margin-bottom: 8rem !important;
}

@media only screen and (max-width: 58.75em) {
  /* line 17, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/base/_utilities.scss */
  .u-margin-botton-big {
    margin-bottom: 5rem !important;
  }
}

/* line 25, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/base/_utilities.scss */
.u-margin-top-medium {
  margin-bottom: 6rem !important;
}

@media only screen and (max-width: 58.75em) {
  /* line 25, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/base/_utilities.scss */
  .u-margin-top-medium {
    margin-bottom: 3rem !important;
  }
}

/* line 33, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/base/_utilities.scss */
.u-margin-top-big {
  margin-bottom: 8rem !important;
}

@media only screen and (max-width: 58.75em) {
  /* line 33, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/base/_utilities.scss */
  .u-margin-top-big {
    margin-bottom: 4rem !important;
  }
}

/* line 41, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/base/_utilities.scss */
.u-margin-top-huge {
  margin-bottom: 8rem !important;
}

@media only screen and (max-width: 58.75em) {
  /* line 41, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/base/_utilities.scss */
  .u-margin-top-huge {
    margin-bottom: 4rem !important;
  }
}

/* line 2, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/layout/_homepage.scss */
.header .logo {
  float: left;
  width: 45rem;
  padding: 3rem;
  animation: moveInRight 0.8s;
}

/* line 11, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/layout/_homepage.scss */
.main-image {
  font-family: 'adoveFnt22-bold';
  position: relative;
  width: 100%;
  overflow-y: hidden;
  font-size: 5rem;
}

@media only screen and (max-width: 66.875em) {
  /* line 11, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/layout/_homepage.scss */
  .main-image {
    font-size: 4rem;
  }
}

/* line 21, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/layout/_homepage.scss */
.main-image .whiteBackground {
  background-color: #ffffff;
  padding: 0 0.5rem;
}

/* line 25, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/layout/_homepage.scss */
.main-image .mainColor-Background {
  background-color: #67d2c4;
  padding: 0 0.5rem;
}

/* line 30, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/layout/_homepage.scss */
.main-image__top-text {
  display: flex;
  position: absolute;
  z-index: 10;
  top: 10%;
  right: 50%;
  transform: translate(50%, 0);
  width: fit-content;
}

@media only screen and (max-width: 66.875em) {
  /* line 30, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/layout/_homepage.scss */
  .main-image__top-text {
    flex-direction: column;
    top: 5%;
    line-height: 6rem;
  }
}

@media only screen and (max-width: 37.5em) {
  /* line 30, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/layout/_homepage.scss */
  .main-image__top-text {
    line-height: 4rem;
    font-size: 3rem;
  }
}

/* line 48, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/layout/_homepage.scss */
.main-image__bottom-text {
  display: flex;
  position: absolute;
  z-index: 10;
  bottom: 10%;
  right: 50%;
  transform: translate(50%, 0);
  width: fit-content;
}

@media only screen and (max-width: 66.875em) {
  /* line 48, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/layout/_homepage.scss */
  .main-image__bottom-text {
    line-height: 6rem;
  }
}

@media only screen and (max-width: 37.5em) {
  /* line 48, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/layout/_homepage.scss */
  .main-image__bottom-text {
    line-height: 4rem;
    font-size: 3rem;
  }
}

/* line 66, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/layout/_homepage.scss */
.location-section {
  padding: 10rem 2rem;
  text-align: center;
}

@media only screen and (max-width: 37.5em) {
  /* line 66, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/layout/_homepage.scss */
  .location-section {
    padding: 7rem 1rem;
  }
}

/* line 74, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/layout/_homepage.scss */
.location-section__text {
  font-size: 7rem;
  line-height: 9rem;
}

@media only screen and (max-width: 66.875em) {
  /* line 74, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/layout/_homepage.scss */
  .location-section__text {
    font-size: 4rem;
    line-height: 5rem;
  }
}

@media only screen and (max-width: 37.5em) {
  /* line 74, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/layout/_homepage.scss */
  .location-section__text {
    font-size: 3rem;
    line-height: 4rem;
  }
}

/* line 95, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/layout/_homepage.scss */
.location-section__title {
  font-family: 'adoveFnt22-ultrabold';
  display: flex;
  margin: 2rem auto -3rem;
  width: fit-content;
  transition: all 0.2s;
}

/* line 102, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/layout/_homepage.scss */
.location-section__title:hover {
  transform: scale(1.03);
}

@media only screen and (max-width: 37.5em) {
  /* line 95, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/layout/_homepage.scss */
  .location-section__title {
    margin: 2rem auto 0;
  }
}

/* line 119, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/layout/_homepage.scss */
.location-section__title h2 {
  font-size: 14rem;
  font-weight: 900;
  margin: 0 1rem;
}

@media only screen and (max-width: 66.875em) {
  /* line 119, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/layout/_homepage.scss */
  .location-section__title h2 {
    font-size: 8.2rem;
  }
}

@media only screen and (max-width: 37.5em) {
  /* line 119, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/layout/_homepage.scss */
  .location-section__title h2 {
    font-size: 4rem;
  }
}

@media only screen and (max-width: 21.875em) {
  /* line 119, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/layout/_homepage.scss */
  .location-section__title h2 {
    font-size: 3rem;
  }
}

/* line 136, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/layout/_homepage.scss */
.location-section__title h2.color-blue {
  color: #66d2c4;
}

/* line 143, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/layout/_homepage.scss */
.contact-us-section {
  font-family: 'adoveFnt22-bold';
  padding: 6rem 0 6rem;
}

@media only screen and (max-width: 37.5em) {
  /* line 143, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/layout/_homepage.scss */
  .contact-us-section {
    padding: 8rem 0;
  }
}

/* line 150, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/layout/_homepage.scss */
.contact-us-section p {
  font-size: 6rem;
  margin-bottom: 4rem;
}

@media only screen and (max-width: 37.5em) {
  /* line 150, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/layout/_homepage.scss */
  .contact-us-section p {
    font-size: 3.5rem;
    margin-bottom: 2rem;
  }
}

/* line 159, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/layout/_homepage.scss */
.contact-us-section-title {
  font-size: 4rem;
  text-align: center;
}

/* line 163, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/layout/_homepage.scss */
.contact-us-section-title-head {
  font-size: 7rem;
  margin-bottom: 3rem;
  text-align: center;
}

@media only screen and (max-width: 37.5em) {
  /* line 163, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/layout/_homepage.scss */
  .contact-us-section-title-head {
    font-size: 4rem;
    line-height: 5rem;
    margin: auto;
    margin-bottom: 0rem;
    text-align: center;
  }
}

/* line 176, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/layout/_homepage.scss */
.contact-us-section#grey {
  background-color: #d8dde1;
}

/* line 180, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/layout/_homepage.scss */
.form {
  display: flex;
  flex-direction: column;
  width: 60rem;
  margin: auto;
}

@media only screen and (max-width: 37.5em) {
  /* line 180, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/layout/_homepage.scss */
  .form {
    width: 85vw;
  }
}

/* line 189, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/layout/_homepage.scss */
.form-input {
  height: 9rem;
  border: none;
  border-radius: 10rem;
  margin: 1.5rem 0;
  padding: 0 2.5rem;
  font-size: 3.5rem;
  color: #66d2c4;
}

@media only screen and (max-width: 37.5em) {
  /* line 189, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/layout/_homepage.scss */
  .form-input {
    height: 7rem;
    margin-bottom: 1rem;
    font-size: 2rem;
  }
}

/* line 199, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/layout/_homepage.scss */
.form-input:focus {
  outline: 0;
}

/* line 203, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/layout/_homepage.scss */
.form-input:hover::placeholder {
  color: #66d2c4;
}

/* line 207, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/layout/_homepage.scss */
.form-submit {
  font-family: 'adoveFnt22-bold';
  position: relative;
  height: 10rem;
  border: none;
  border-radius: 10rem;
  margin: 2rem 0;
  padding: 0 2rem;
  font-size: 5rem;
  color: #ffffff;
  background-color: #66d2c4;
  width: 50%;
  align-self: center;
  margin-top: 9rem;
  transition: all 0.5s;
}

@media only screen and (max-width: 37.5em) {
  /* line 207, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/layout/_homepage.scss */
  .form-submit {
    height: 7rem;
    font-size: 3rem;
    margin-top: 5rem;
  }
}

/* line 31, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/abstract/_mixins.scss */
.form-submit:focus {
  outline: 0;
}

/* line 34, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/abstract/_mixins.scss */
.form-submit:before {
  content: "";
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  width: 60px;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0.5;
  filter: blur(30px);
  transform: translateX(-100px) skewX(-15deg);
  transition: 0.5s;
}

/* line 48, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/abstract/_mixins.scss */
.form-submit:after {
  content: "";
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  width: 30px;
  height: 100%;
  left: 30px;
  top: 0;
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100px) skewX(-15deg);
  transition: 0.5s;
}

/* line 62, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/abstract/_mixins.scss */
.form-submit:hover {
  background: #66d2c4;
  cursor: pointer;
}

/* line 65, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/abstract/_mixins.scss */
.form-submit:hover:before {
  transform: translateX(350px) skewX(-15deg);
  opacity: 0.6;
}

/* line 69, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/abstract/_mixins.scss */
.form-submit:hover:after {
  transform: translateX(350px) skewX(-15deg);
  opacity: 1;
}

/* line 229, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/layout/_homepage.scss */
.form-submit:hover {
  transform: translate(0.2rem, -0.15rem);
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

/* line 234, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/layout/_homepage.scss */
.form-bottom {
  display: flex;
}

/* line 237, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/layout/_homepage.scss */
.form-bottom .left {
  width: 70%;
  text-align: center;
  margin-left: 0rem;
  padding-top: 7rem;
}

@media only screen and (max-width: 66.875em) {
  /* line 237, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/layout/_homepage.scss */
  .form-bottom .left {
    margin-left: 5rem;
  }
}

@media only screen and (max-width: 58.75em) {
  /* line 237, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/layout/_homepage.scss */
  .form-bottom .left {
    width: 100%;
    margin-left: 0;
  }
}

/* line 254, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/layout/_homepage.scss */
.form-bottom .right {
  width: 30%;
}

@media only screen and (max-width: 66.875em) {
  /* line 254, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/layout/_homepage.scss */
  .form-bottom .right {
    width: 45%;
  }
}

@media only screen and (max-width: 58.75em) {
  /* line 254, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/layout/_homepage.scss */
  .form-bottom .right {
    width: 0%;
  }
}

/* line 269, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/layout/_homepage.scss */
.form-bottom .right .smiley.inline-photo {
  width: 100%;
  transform: translateX(100%);
  transition: transform 0.5s;
  will-change: transform;
}

/* line 276, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/layout/_homepage.scss */
.form-bottom .right .smiley.inline-photo.is-visible {
  transform: translateX(0%);
}

/* line 281, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/layout/_homepage.scss */
.form-bottom-input {
  height: 9rem;
  border: none;
  border-radius: 10rem;
  margin: 1.5rem 0;
  padding: 0 2.5rem;
  font-size: 3.5rem;
  color: #000;
  background-color: #eff6fe;
}

/* line 285, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/layout/_homepage.scss */
.form-bottom-input:focus {
  outline: 0;
}

/* line 289, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/layout/_homepage.scss */
.form-bottom-input::placeholder {
  color: #4285f5;
}

/* line 293, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/layout/_homepage.scss */
.form-bottom-input:hover::placeholder {
  color: #000;
}

/* line 297, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/layout/_homepage.scss */
.form-bottom-submit {
  font-family: 'adoveFnt22-bold';
  position: relative;
  height: 10rem;
  border: none;
  border-radius: 10rem;
  margin: 2rem 0;
  padding: 0 2rem;
  font-size: 5rem;
  color: #ffffff;
  background-color: #4285f5;
  width: 50%;
  align-self: center;
  margin-top: 9rem;
  transition: all 0.5s;
}

/* line 31, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/abstract/_mixins.scss */
.form-bottom-submit:focus {
  outline: 0;
}

/* line 34, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/abstract/_mixins.scss */
.form-bottom-submit:before {
  content: "";
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  width: 60px;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0.5;
  filter: blur(30px);
  transform: translateX(-100px) skewX(-15deg);
  transition: 0.5s;
}

/* line 48, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/abstract/_mixins.scss */
.form-bottom-submit:after {
  content: "";
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  width: 30px;
  height: 100%;
  left: 30px;
  top: 0;
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100px) skewX(-15deg);
  transition: 0.5s;
}

/* line 62, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/abstract/_mixins.scss */
.form-bottom-submit:hover {
  background: #4285f5;
  cursor: pointer;
}

/* line 65, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/abstract/_mixins.scss */
.form-bottom-submit:hover:before {
  transform: translateX(350px) skewX(-15deg);
  opacity: 0.6;
}

/* line 69, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/abstract/_mixins.scss */
.form-bottom-submit:hover:after {
  transform: translateX(350px) skewX(-15deg);
  opacity: 1;
}

@media only screen and (max-width: 37.5em) {
  /* line 297, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/layout/_homepage.scss */
  .form-bottom-submit {
    height: 8rem;
    width: 60%;
    margin-top: 6rem;
    font-size: 4rem;
  }
}

/* line 321, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/layout/_homepage.scss */
.form-bottom-submit:hover {
  transform: translate(0.2rem, -0.15rem);
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

/* line 328, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/layout/_homepage.scss */
.about-setion {
  padding: 10rem 7rem;
}

@media only screen and (max-width: 37.5em) {
  /* line 328, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/layout/_homepage.scss */
  .about-setion {
    padding: 10rem 4rem;
  }
}

/* line 334, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/layout/_homepage.scss */
.about-setion__info {
  margin: auto;
  font-size: 4rem;
  min-width: 90rem;
  max-width: 130rem;
}

@media only screen and (max-width: 66.875em) {
  /* line 334, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/layout/_homepage.scss */
  .about-setion__info {
    min-width: 0;
  }
}

@media only screen and (max-width: 37.5em) {
  /* line 334, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/layout/_homepage.scss */
  .about-setion__info {
    text-align: center;
    font-size: 2.5rem;
    min-width: 0;
    max-width: 95vw;
  }
}

/* line 351, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/layout/_homepage.scss */
.about-setion__info:first-child {
  margin-bottom: 7rem;
}

/* line 355, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/layout/_homepage.scss */
.about-setion__info:hover .about-setion__info-title {
  background-position: 0 -100%;
}

/* line 358, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/layout/_homepage.scss */
.about-setion__info-title {
  font-family: 'adoveFnt22-bold';
  font-size: 4rem;
  position: relative;
  display: inline-block;
  color: #4285f5;
  background: linear-gradient(to right, #4285f5, #4285f5 50%, black 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: -100%;
  overflow: hidden;
  transition: background-position 275ms ease;
  text-decoration: none;
}

/* line 382, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/layout/_homepage.scss */
.about-setion__info-text {
  width: 100%;
}

@media only screen and (max-width: 37.5em) {
  /* line 382, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/layout/_homepage.scss */
  .about-setion__info-text {
    font-size: 2.5rem;
    line-height: 4rem;
  }
}

/* line 392, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/layout/_homepage.scss */
.pros-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10rem 7rem 12rem;
  background-color: #000;
  color: #ffffff;
  overflow: auto;
}

@media only screen and (max-width: 37.5em) {
  /* line 392, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/layout/_homepage.scss */
  .pros-section {
    background-color: #d8dde1;
    color: #000;
    padding: 6rem 1rem;
  }
}

/* line 407, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/layout/_homepage.scss */
.pros-section:hover > .pros-section-title {
  animation: border-flicker 2s linear infinite;
}

/* line 412, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/layout/_homepage.scss */
.pros-section-title {
  font-family: 'adoveFnt22-bold';
  color: #4285f5;
  font-size: 9rem;
  margin-bottom: 4rem;
}

@media only screen and (max-width: 95em) {
  /* line 412, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/layout/_homepage.scss */
  .pros-section-title {
    font-size: 7rem;
  }
}

@media only screen and (max-width: 75em) {
  /* line 412, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/layout/_homepage.scss */
  .pros-section-title {
    font-size: 7rem;
  }
}

@media only screen and (max-width: 66.875em) {
  /* line 412, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/layout/_homepage.scss */
  .pros-section-title {
    font-size: 7rem;
  }
}

@media only screen and (max-width: 58.75em) {
  /* line 412, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/layout/_homepage.scss */
  .pros-section-title {
    font-size: 5rem;
  }
}

@media only screen and (max-width: 37.5em) {
  /* line 412, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/layout/_homepage.scss */
  .pros-section-title {
    font-size: 3rem;
  }
}

/* line 436, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/layout/_homepage.scss */
.pros-section-list {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 37.5em) {
  /* line 436, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/layout/_homepage.scss */
  .pros-section-list {
    display: flex;
    flex-direction: column;
    padding: 0 8rem;
  }
}

/* line 445, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/layout/_homepage.scss */
.pros-section-list__item {
  display: flex;
  align-items: center;
  position: relative;
  margin: 1rem 0;
  float: left;
  text-align: center;
  font-size: 4.5rem;
}

@media only screen and (max-width: 95em) {
  /* line 445, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/layout/_homepage.scss */
  .pros-section-list__item {
    font-size: 3.5rem;
  }
}

@media only screen and (max-width: 75em) {
  /* line 445, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/layout/_homepage.scss */
  .pros-section-list__item {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 66.875em) {
  /* line 445, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/layout/_homepage.scss */
  .pros-section-list__item {
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 37.5em) {
  /* line 445, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/layout/_homepage.scss */
  .pros-section-list__item {
    margin: 0;
    flex-direction: column-reverse;
    font-size: 2.6rem;
  }
  /* line 471, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/layout/_homepage.scss */
  .pros-section-list__item:last-child .pros-section-list__item-smile-outer {
    display: none;
  }
}

/* line 476, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/layout/_homepage.scss */
.pros-section-list__item:hover .pros-section-list__item-smile-inner {
  color: #4285f5;
}

/* line 479, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/layout/_homepage.scss */
.pros-section-list__item:hover .pros-section-list__item-smile-outer {
  transform: rotate(-25deg);
}

/* line 483, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/layout/_homepage.scss */
.pros-section-list__item-smile-outer {
  position: relative;
  width: 6rem;
  height: 3rem;
  overflow: hidden;
  background-color: black;
  margin-left: 5rem;
  transition: all 0.2s;
}

@media only screen and (max-width: 66.875em) {
  /* line 483, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/layout/_homepage.scss */
  .pros-section-list__item-smile-outer {
    width: 4rem;
    height: 2rem;
  }
}

@media only screen and (max-width: 37.5em) {
  /* line 483, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/layout/_homepage.scss */
  .pros-section-list__item-smile-outer {
    width: 5rem;
    height: 2.5rem;
    margin: 1rem 0;
    background-color: #d8dde1;
    color: #ffffff;
  }
}

/* line 506, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/layout/_homepage.scss */
.pros-section-list__item-smile-inner {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  box-sizing: border-box;
  border: 10px solid;
  transition: all 0.2s;
}

@media only screen and (max-width: 66.875em) {
  /* line 506, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/layout/_homepage.scss */
  .pros-section-list__item-smile-inner {
    width: 4rem;
    height: 4rem;
    border: 6px solid;
  }
}

@media only screen and (max-width: 37.5em) {
  /* line 506, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/layout/_homepage.scss */
  .pros-section-list__item-smile-inner {
    width: 5rem;
    height: 5rem;
  }
}

/* line 530, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/layout/_homepage.scss */
.footer {
  width: 50%;
  margin-top: -10px;
  margin-right: auto;
  margin-bottom: 6rem;
}

@media only screen and (max-width: 58.75em) {
  /* line 530, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/layout/_homepage.scss */
  .footer {
    width: 100vw;
    margin-bottom: 2rem;
    display: flex;
  }
}

@media only screen and (max-width: 58.75em) {
  /* line 543, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/layout/_homepage.scss */
  .footer-logo {
    width: 56%;
    object-fit: contain;
  }
}

@media only screen and (max-width: 58.75em) {
  /* line 550, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/layout/_homepage.scss */
  .footer .smiley {
    width: 40%;
    object-fit: contain;
  }
}

/* line 558, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/layout/_homepage.scss */
.desktop {
  display: block;
}

@media only screen and (max-width: 58.75em) {
  /* line 558, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/layout/_homepage.scss */
  .desktop {
    display: none;
  }
}

/* line 565, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/layout/_homepage.scss */
.mobile {
  display: none;
}

@media only screen and (max-width: 58.75em) {
  /* line 565, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/layout/_homepage.scss */
  .mobile {
    display: block;
  }
}

/* line 1, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/layout/_thank-you-page.scss */
.thank-you {
  color: #4285f5;
  font-size: 7rem;
  text-align: center;
}

/* line 7, ../../../../../../../../../../../../../Users/amit_ashdot/Desktop/שיעורי בית/Targetcall/landing-page/jobs/sass/layout/_thank-you-page.scss */
.good-luck {
  text-align: center;
  font-size: 4rem;
}

/*# sourceMappingURL=index.css.map */