body {
  font-family: 'adoveFnt22', cursive;
  font-weight: 400;
  font-size: $defaut-font-size;
  line-height: 1.7;
}

.blue-text {
  color: $color-primary;
}
.orange-text {
  color: $color-secondary;
}
