@font-face {
  font-family: 'adoveFnt22';
  src: url('/fonts/ploni-regular-aaa.otf') format('OpenType');
}
@font-face {
  font-family: 'adoveFnt22-bold';
  src: url('/fonts/ploni-bold-aaa.otf') format('OpenType');
}
@font-face {
  font-family: 'adoveFnt22-ultrabold';
  src: url('/fonts/ploni-ultrabold-aaa.otf') format('OpenType');
}

body {
  font-family: 'adoveFnt22';
  font-weight: 400;
  font-size: $defaut-font-size;
  line-height: 1.7;
}

.blue-text {
  color: $color-primary;
}
.orange-text {
  color: $color-secondary;
}
